In [2]:
import zipfile

import requests
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
headers = {
    'Pragma': 'no-cache',
    'Origin': 'http://www.transtats.bts.gov',
    'Accept-Encoding': 'gzip, deflate',
    'Accept-Language': 'en-US,en;q=0.8',
    'Upgrade-Insecure-Requests': '1',
    'User-Agent': ('Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_2) '
                   'AppleWebKit/537.36 (KHTML, like Gecko) Chrome/48.0.2564.116 Safari/537.36'),
    'Content-Type': 'application/x-www-form-urlencoded',
    'Accept': 'text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8',
    'Cache-Control': 'no-cache',
    'Referer': 'http://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time',
    'Connection': 'keep-alive',
    'DNT': '1',
}
# Sorry about the long url
data = 'UserTableName=On_Time_Performance&DBShortName=On_Time&RawDataTable=T_ONTIME&sqlstr=+SELECT+FL_DATE%2CUNIQUE_CARRIER%2CAIRLINE_ID%2CTAIL_NUM%2CFL_NUM%2CORIGIN_AIRPORT_ID%2CORIGIN_AIRPORT_SEQ_ID%2CORIGIN_CITY_MARKET_ID%2CORIGIN%2CORIGIN_CITY_NAME%2CORIGIN_STATE_NM%2CDEST_AIRPORT_ID%2CDEST_AIRPORT_SEQ_ID%2CDEST_CITY_MARKET_ID%2CDEST%2CDEST_CITY_NAME%2CDEST_STATE_NM%2CCRS_DEP_TIME%2CDEP_TIME%2CDEP_DELAY%2CTAXI_OUT%2CWHEELS_OFF%2CWHEELS_ON%2CTAXI_IN%2CCRS_ARR_TIME%2CARR_TIME%2CARR_DELAY%2CCANCELLED%2CCANCELLATION_CODE%2CDIVERTED%2CDISTANCE%2CCARRIER_DELAY%2CWEATHER_DELAY%2CNAS_DELAY%2CSECURITY_DELAY%2CLATE_AIRCRAFT_DELAY+FROM++T_ONTIME+WHERE+Month+%3D1+AND+YEAR%3D2014&varlist=FL_DATE%2CUNIQUE_CARRIER%2CAIRLINE_ID%2CTAIL_NUM%2CFL_NUM%2CORIGIN_AIRPORT_ID%2CORIGIN_AIRPORT_SEQ_ID%2CORIGIN_CITY_MARKET_ID%2CORIGIN%2CORIGIN_CITY_NAME%2CORIGIN_STATE_NM%2CDEST_AIRPORT_ID%2CDEST_AIRPORT_SEQ_ID%2CDEST_CITY_MARKET_ID%2CDEST%2CDEST_CITY_NAME%2CDEST_STATE_NM%2CCRS_DEP_TIME%2CDEP_TIME%2CDEP_DELAY%2CTAXI_OUT%2CWHEELS_OFF%2CWHEELS_ON%2CTAXI_IN%2CCRS_ARR_TIME%2CARR_TIME%2CARR_DELAY%2CCANCELLED%2CCANCELLATION_CODE%2CDIVERTED%2CDISTANCE%2CCARRIER_DELAY%2CWEATHER_DELAY%2CNAS_DELAY%2CSECURITY_DELAY%2CLATE_AIRCRAFT_DELAY&grouplist=&suml=&sumRegion=&filter1=title%3D&filter2=title%3D&geo=All%A0&time=January&timename=Month&GEOGRAPHY=All&XYEAR=2014&FREQUENCY=1&VarDesc=Year&VarType=Num&VarDesc=Quarter&VarType=Num&VarDesc=Month&VarType=Num&VarDesc=DayofMonth&VarType=Num&VarDesc=DayOfWeek&VarType=Num&VarName=FL_DATE&VarDesc=FlightDate&VarType=Char&VarName=UNIQUE_CARRIER&VarDesc=UniqueCarrier&VarType=Char&VarName=AIRLINE_ID&VarDesc=AirlineID&VarType=Num&VarDesc=Carrier&VarType=Char&VarName=TAIL_NUM&VarDesc=TailNum&VarType=Char&VarName=FL_NUM&VarDesc=FlightNum&VarType=Char&VarName=ORIGIN_AIRPORT_ID&VarDesc=OriginAirportID&VarType=Num&VarName=ORIGIN_AIRPORT_SEQ_ID&VarDesc=OriginAirportSeqID&VarType=Num&VarName=ORIGIN_CITY_MARKET_ID&VarDesc=OriginCityMarketID&VarType=Num&VarName=ORIGIN&VarDesc=Origin&VarType=Char&VarName=ORIGIN_CITY_NAME&VarDesc=OriginCityName&VarType=Char&VarDesc=OriginState&VarType=Char&VarDesc=OriginStateFips&VarType=Char&VarName=ORIGIN_STATE_NM&VarDesc=OriginStateName&VarType=Char&VarDesc=OriginWac&VarType=Num&VarName=DEST_AIRPORT_ID&VarDesc=DestAirportID&VarType=Num&VarName=DEST_AIRPORT_SEQ_ID&VarDesc=DestAirportSeqID&VarType=Num&VarName=DEST_CITY_MARKET_ID&VarDesc=DestCityMarketID&VarType=Num&VarName=DEST&VarDesc=Dest&VarType=Char&VarName=DEST_CITY_NAME&VarDesc=DestCityName&VarType=Char&VarDesc=DestState&VarType=Char&VarDesc=DestStateFips&VarType=Char&VarName=DEST_STATE_NM&VarDesc=DestStateName&VarType=Char&VarDesc=DestWac&VarType=Num&VarName=CRS_DEP_TIME&VarDesc=CRSDepTime&VarType=Char&VarName=DEP_TIME&VarDesc=DepTime&VarType=Char&VarName=DEP_DELAY&VarDesc=DepDelay&VarType=Num&VarDesc=DepDelayMinutes&VarType=Num&VarDesc=DepDel15&VarType=Num&VarDesc=DepartureDelayGroups&VarType=Num&VarDesc=DepTimeBlk&VarType=Char&VarName=TAXI_OUT&VarDesc=TaxiOut&VarType=Num&VarName=WHEELS_OFF&VarDesc=WheelsOff&VarType=Char&VarName=WHEELS_ON&VarDesc=WheelsOn&VarType=Char&VarName=TAXI_IN&VarDesc=TaxiIn&VarType=Num&VarName=CRS_ARR_TIME&VarDesc=CRSArrTime&VarType=Char&VarName=ARR_TIME&VarDesc=ArrTime&VarType=Char&VarName=ARR_DELAY&VarDesc=ArrDelay&VarType=Num&VarDesc=ArrDelayMinutes&VarType=Num&VarDesc=ArrDel15&VarType=Num&VarDesc=ArrivalDelayGroups&VarType=Num&VarDesc=ArrTimeBlk&VarType=Char&VarName=CANCELLED&VarDesc=Cancelled&VarType=Num&VarName=CANCELLATION_CODE&VarDesc=CancellationCode&VarType=Char&VarName=DIVERTED&VarDesc=Diverted&VarType=Num&VarDesc=CRSElapsedTime&VarType=Num&VarDesc=ActualElapsedTime&VarType=Num&VarDesc=AirTime&VarType=Num&VarDesc=Flights&VarType=Num&VarName=DISTANCE&VarDesc=Distance&VarType=Num&VarDesc=DistanceGroup&VarType=Num&VarName=CARRIER_DELAY&VarDesc=CarrierDelay&VarType=Num&VarName=WEATHER_DELAY&VarDesc=WeatherDelay&VarType=Num&VarName=NAS_DELAY&VarDesc=NASDelay&VarType=Num&VarName=SECURITY_DELAY&VarDesc=SecurityDelay&VarType=Num&VarName=LATE_AIRCRAFT_DELAY&VarDesc=LateAircraftDelay&VarType=Num&VarDesc=FirstDepTime&VarType=Char&VarDesc=TotalAddGTime&VarType=Num&VarDesc=LongestAddGTime&VarType=Num&VarDesc=DivAirportLandings&VarType=Num&VarDesc=DivReachedDest&VarType=Num&VarDesc=DivActualElapsedTime&VarType=Num&VarDesc=DivArrDelay&VarType=Num&VarDesc=DivDistance&VarType=Num&VarDesc=Div1Airport&VarType=Char&VarDesc=Div1AirportID&VarType=Num&VarDesc=Div1AirportSeqID&VarType=Num&VarDesc=Div1WheelsOn&VarType=Char&VarDesc=Div1TotalGTime&VarType=Num&VarDesc=Div1LongestGTime&VarType=Num&VarDesc=Div1WheelsOff&VarType=Char&VarDesc=Div1TailNum&VarType=Char&VarDesc=Div2Airport&VarType=Char&VarDesc=Div2AirportID&VarType=Num&VarDesc=Div2AirportSeqID&VarType=Num&VarDesc=Div2WheelsOn&VarType=Char&VarDesc=Div2TotalGTime&VarType=Num&VarDesc=Div2LongestGTime&VarType=Num&VarDesc=Div2WheelsOff&VarType=Char&VarDesc=Div2TailNum&VarType=Char&VarDesc=Div3Airport&VarType=Char&VarDesc=Div3AirportID&VarType=Num&VarDesc=Div3AirportSeqID&VarType=Num&VarDesc=Div3WheelsOn&VarType=Char&VarDesc=Div3TotalGTime&VarType=Num&VarDesc=Div3LongestGTime&VarType=Num&VarDesc=Div3WheelsOff&VarType=Char&VarDesc=Div3TailNum&VarType=Char&VarDesc=Div4Airport&VarType=Char&VarDesc=Div4AirportID&VarType=Num&VarDesc=Div4AirportSeqID&VarType=Num&VarDesc=Div4WheelsOn&VarType=Char&VarDesc=Div4TotalGTime&VarType=Num&VarDesc=Div4LongestGTime&VarType=Num&VarDesc=Div4WheelsOff&VarType=Char&VarDesc=Div4TailNum&VarType=Char&VarDesc=Div5Airport&VarType=Char&VarDesc=Div5AirportID&VarType=Num&VarDesc=Div5AirportSeqID&VarType=Num&VarDesc=Div5WheelsOn&VarType=Char&VarDesc=Div5TotalGTime&VarType=Num&VarDesc=Div5LongestGTime&VarType=Num&VarDesc=Div5WheelsOff&VarType=Char&VarDesc=Div5TailNum&VarType=Char'

r = requests.post('http://www.transtats.bts.gov/DownLoad_Table.asp?Table_ID=236&Has_Group=3&Is_Zipped=0',
                  headers=headers, data=data, stream=True)
#Downloaded zip file from r.url

http://tsdata.bts.gov/317233692_T_ONTIME.zip

In [9]:
#Reading file
df = (pd.read_csv('317233692_T_ONTIME.csv')
        .rename(columns=str.lower))

In [33]:
#ix
df.head()
first = df.groupby('airline_id')[['fl_date', 'unique_carrier']].first()
first.head()

               fl_date unique_carrier
airline_id
19393       2014-01-01             WN
19690       2014-01-01             HA
19790       2014-01-01             DL
19805       2014-01-01             AA
19930       2014-01-01             AS

In [32]:
#Because index is integer based ix will use it as label based and it don't find 10:15 labels in the indexes
first.ix[10:15,:]

Empty DataFrame
Columns: [fl_date, unique_carrier]
Index: []

In [35]:
#Because now second has label indexes ix will be position based it will print unique_carriers for 10:15 th position
second = df.groupby('unique_carrier').first()
second.ix[10:15,:]

,fl_date,airline_id,tail_num,fl_num,origin_airport_id,origin_airport_seq_id,origin_city_market_id,origin,origin_city_name,origin_state_nm,...,cancelled,cancellation_code,diverted,distance,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,unnamed: 36
unique_carrier,,,,,,,,,,,,,,,,,,,,,
UA,2014-01-01,19977,N14214,3,11292,1129202,30325,DEN,"Denver, CO",Colorado,...,0.0,A,0.0,888.0,14.0,0.0,35.0,0.0,12.0,NaN
US,2014-01-01,20355,N650AW,553,14747,1474703,30559,SEA,"Seattle, WA",Washington,...,0.0,A,0.0,2378.0,5.0,0.0,12.0,0.0,0.0,NaN
VX,2014-01-01,21171,N637VA,108,12892,1289203,32575,LAX,"Los Angeles, CA",California,...,0.0,A,0.0,2288.0,11.0,0.0,8.0,0.0,0.0,NaN
WN,2014-01-01,19393,N412WN,2,11292,1129202,30325,DEN,"Denver, CO",Colorado,...,0.0,B,0.0,1620.0,31.0,0.0,0.0,0.0,190.0,NaN

In [37]:
#Label based indexing .loc
second.loc[['AA', 'AS', 'DL'], ['fl_date', 'tail_num']]

                   fl_date tail_num
unique_carrier
AA              2014-01-01   N002AA
AS              2014-01-01   N524AS
DL              2014-01-01   N911DL

In [38]:
#Position based indexing
second.iloc[[0, 1, 3], [0, 1]]

                   fl_date  airline_id
unique_carrier
AA              2014-01-01       19805
AS              2014-01-01       19930
DL              2014-01-01       19790

In [49]:
#For this data frame take the rows of b where a was 3 or less, and set them equal to b / 10
f = pd.DataFrame({'a':[1,2,3,4,5], 'b':[10,20,30,40,50]})
f

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

In [50]:
#Practise of multiple indexing f[f['a']<=3]['b']must be avoided in pandas because for _getitem (f[f['a']<=3]) we don't know whether it returns view or copy
#Correct way is using .loc and avoiding f[][] multiple indexing
f.loc[f['a']<=3,'b'] = f.loc[f['a']<=3,'b']/10
f

   a     b
0  1   1.0
1  2   2.0
2  3   3.0
3  4  40.0
4  5  50.0

In [53]:
#MultiIndexing using (.set_index())
#Levels of multiIndex are unique_carrier, origin, dest, tail_num, fl_date.. position 0,1,2,3,..
hdf = df.set_index(['unique_carrier', 'origin', 'dest', 'tail_num', 'fl_date']).sort_index()
hdf.head()

                                                airline_id  fl_num  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06       19805    1662
                                    2014-01-27       19805    1090
                           N202AA   2014-01-27       19805    1332
                           N426AA   2014-01-09       19805    1662
                                    2014-01-15       19805    1467

                                                origin_airport_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06              10140
                                    2014-01-27              10140
                           N202AA   2014-01-27              10140
                           N426AA   2014-01-09              10140
                                    2014-01-15              10140

                                                origin_airport_seq_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06                1014002
                                    2014-01-27                1014002
                           N202AA   2014-01-27                1014002
                           N426AA   2014-01-09                1014002
                                    2014-01-15                1014002

                                                origin_city_market_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06                  30140
                                    2014-01-27                  30140
                           N202AA   2014-01-27                  30140
                           N426AA   2014-01-09                  30140
                                    2014-01-15                  30140

                                               origin_city_name  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06  Albuquerque, NM
                                    2014-01-27  Albuquerque, NM
                           N202AA   2014-01-27  Albuquerque, NM
                           N426AA   2014-01-09  Albuquerque, NM
                                    2014-01-15  Albuquerque, NM

                                               origin_state_nm  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06      New Mexico
                                    2014-01-27      New Mexico
                           N202AA   2014-01-27      New Mexico
                           N426AA   2014-01-09      New Mexico
                                    2014-01-15      New Mexico

                                                dest_airport_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06            11298
                                    2014-01-27            11298
                           N202AA   2014-01-27            11298
                           N426AA   2014-01-09            11298
                                    2014-01-15            11298

                                                dest_airport_seq_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06              1129803
                                    2014-01-27              1129803
                           N202AA   2014-01-27              1129803
                           N426AA   2014-01-09              1129803
                                    2014-01-15              1129803

                                                dest_city_market_id  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06                30194
                                    2014-01-27                30194
                           N202AA   2014-01-27                30194
                           N426AA   2014-01-09                30194
                                    2014-01-15                30194

                                                   ...      cancelled  \
unique_carrier origin dest tail_num fl_date        ...
AA             ABQ    DFW  N200AA   2014-01-06     ...            0.0
                                    2014-01-27     ...            0.0
                           N202AA   2014-01-27     ...            0.0
                           N426AA   2014-01-09     ...            0.0
                                    2014-01-15     ...            0.0

                                               cancellation_code  diverted  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06               NaN       0.0
                                    2014-01-27               NaN       0.0
                           N202AA   2014-01-27               NaN       0.0
                           N426AA   2014-01-09               NaN       0.0
                                    2014-01-15               NaN       0.0

                                                distance  carrier_delay  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06     569.0            0.0
                                    2014-01-27     569.0            NaN
                           N202AA   2014-01-27     569.0            NaN
                           N426AA   2014-01-09     569.0            NaN
                                    2014-01-15     569.0            NaN

                                                weather_delay  nas_delay  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06            0.0        0.0
                                    2014-01-27            NaN        NaN
                           N202AA   2014-01-27            NaN        NaN
                           N426AA   2014-01-09            NaN        NaN
                                    2014-01-15            NaN        NaN

                                                security_delay  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06             0.0
                                    2014-01-27             NaN
                           N202AA   2014-01-27             NaN
                           N426AA   2014-01-09             NaN
                                    2014-01-15             NaN

                                                late_aircraft_delay  \
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06                 52.0
                                    2014-01-27                  NaN
                           N202AA   2014-01-27                  NaN
                           N426AA   2014-01-09                  NaN
                                    2014-01-15                  NaN

                                                unnamed: 36
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06          NaN
                                    2014-01-27          NaN
                           N202AA   2014-01-27          NaN
                           N426AA   2014-01-09          NaN
                                    2014-01-15          NaN

[5 rows x 32 columns]

In [54]:
#Slicing multiIndex
#Outermost Indexing can be simple .loc
#for columns dep_time and dep_delay where the carrier was American Airlines, Delta, or US Airways
hdf.loc[['AA','DL','US'],['dep_time', 'dep_delay']]

                                                dep_time  dep_delay
unique_carrier origin dest tail_num fl_date
AA             ABQ    DFW  N200AA   2014-01-06    1246.0       71.0
                                    2014-01-27     605.0        0.0
                           N202AA   2014-01-27     822.0      -13.0
                           N426AA   2014-01-09    1135.0        0.0
                                    2014-01-15    1022.0       -8.0
                           N436AA   2014-01-01     729.0       -1.0
                                    2014-01-23    1134.0       -1.0
                           N437AA   2014-01-06    1027.0       -3.0
                           N438AA   2014-01-03     726.0       -4.0
                                    2014-01-11    1512.0       -8.0
                           N439AA   2014-01-18       NaN        NaN
                           N454AA   2014-01-20     727.0       -3.0
                           N456AA   2014-01-19    1516.0       -4.0
                           N466AA   2014-01-08    1134.0       -1.0
                           N468AA   2014-01-02    1521.0        1.0
                                    2014-01-10    1359.0       -6.0
                           N470AA   2014-01-07     726.0       -4.0
                                    2014-01-22     726.0       -4.0
                           N472AA   2014-01-30    1517.0       -3.0
                           N474AA   2014-01-02    1155.0       85.0
                                    2014-01-05    1704.0        9.0
                           N475AA   2014-01-22    1131.0       -4.0
                                    2014-01-24     907.0       97.0
                           N477AA   2014-01-08    1537.0       17.0
                           N479AA   2014-01-01     828.0       -7.0
                                    2014-01-17    1400.0       -5.0
                                    2014-01-24    1526.0        6.0
                           N482AA   2014-01-28     553.0      -12.0
                           N483AA   2014-01-01    1133.0       -2.0
                                    2014-01-09     722.0       -8.0
...                                                  ...        ...
US             TPA    PHX  N827AW   2014-01-30     706.0        1.0
                           N828AW   2014-01-09     700.0       -5.0
                                    2014-01-22     702.0       -3.0
                           N830AW   2014-01-01     703.0       -2.0
                                    2014-01-04     701.0       -4.0
                           N831AW   2014-01-28     703.0       -2.0
                           N832AW   2014-01-05     659.0       -6.0
                           N833AW   2014-01-23     715.0       10.0
                           N835AW   2014-01-03     954.0       -6.0
                           N837AW   2014-01-15     658.0       -7.0
                                    2014-01-24     653.0      -12.0
                           N838AW   2014-01-25     701.0       -4.0
                           N839AW   2014-01-06     705.0        0.0
                                    2014-01-12     658.0       -7.0
                                    2014-01-13     701.0       -4.0
               TUS    PHX  N804AW   2014-01-09    1901.0       -9.0
                           N810AW   2014-01-17    1859.0      -11.0
                                    2014-01-31    1902.0       -8.0
                           N812AW   2014-01-23    1901.0       -9.0
                           N815AW   2014-01-22    1900.0      -10.0
                           N816AW   2014-01-27    1902.0       -8.0
                           N818AW   2014-01-30    1913.0        3.0
                           N819AW   2014-01-24    1858.0      -12.0
                           N822AW   2014-01-15    1900.0      -10.0
                           N824AW   2014-01-13    1910.0        0.0
                                    2014-01-16    1900.0      -10.0
                                    2014-01-20    1903.0       -7.0
                           N836AW   2014-01-08    1928.0       18.0
                                    2014-01-29    1908.0       -2.0
                           N837AW   2014-01-10    1902.0       -8.0

[139194 rows x 2 columns]

In [55]:
#for specific second index use touples
hdf.loc[(['AA', 'DL', 'US'], ['ORD', 'DSM']), ['dep_time', 'dep_delay']]

                                                dep_time  dep_delay
unique_carrier origin dest tail_num fl_date
AA             DSM    DFW  N200AA   2014-01-12     603.0       -7.0
                                    2014-01-17     751.0      101.0
                           N424AA   2014-01-10    1759.0       -1.0
                                    2014-01-15    1818.0       18.0
                           N426AA   2014-01-07    1835.0       35.0
                                    2014-01-16     615.0        5.0
                           N437AA   2014-01-24     650.0       40.0
                                    2014-01-31     620.0       10.0
                           N438AA   2014-01-17    1810.0       10.0
                           N439AA   2014-01-06     637.0       27.0
                           N472AA   2014-01-26    1800.0        0.0
                           N475AA   2014-01-02    1850.0       50.0
                           N476AA   2014-01-20    1754.0       -6.0
                           N480AA   2014-01-19     617.0        7.0
                           N484AA   2014-01-10     601.0       -9.0
                           N487AA   2014-01-02     620.0       10.0
                           N493AA   2014-01-03     615.0        5.0
                                    2014-01-14     559.0      -11.0
                           N4WKAA   2014-01-14    1748.0      -12.0
                           N4WSAA   2014-01-15     611.0        1.0
                                    2014-01-29    1816.0       16.0
                           N4WTAA   2014-01-08     608.0       -2.0
                           N4XCAA   2014-01-30     607.0       -3.0
                           N4XDAA   2014-01-26     602.0       -8.0
                           N4XGAA   2014-01-03    1810.0       10.0
                                    2014-01-06    1851.0       51.0
                           N4XLAA   2014-01-16    2045.0      165.0
                                    2014-01-28    1759.0       -1.0
                           N4XMAA   2014-01-23     619.0        9.0
                           N4XWAA   2014-01-05    1759.0       -1.0
...                                                  ...        ...
US             ORD    PHX  N604AW   2014-01-13    1405.0       -5.0
                           N622AW   2014-01-11    1408.0       -2.0
                           N624AW   2014-01-15    1409.0       -1.0
                                    2014-01-22    1410.0        0.0
                                    2014-01-29    1406.0       -4.0
                           N625AW   2014-01-08    1410.0        0.0
                                    2014-01-16    1408.0       -2.0
                                    2014-01-20    1402.0       -8.0
                           N626AW   2014-01-18    1405.0       -5.0
                                    2014-01-23    1409.0       -1.0
                                    2014-01-25    1404.0       -6.0
                           N631AW   2014-01-02    1712.0      182.0
                                    2014-01-03    1409.0       -1.0
                                    2014-01-04    1406.0       -4.0
                                    2014-01-10    1704.0       -1.0
                                    2014-01-27    1403.0       -7.0
                           N633AW   2014-01-12    1408.0       -2.0
                                    2014-01-21    1404.0       -6.0
                                    2014-01-30    1408.0       -2.0
                           N637AW   2014-01-17    1410.0        0.0
                           N642AW   2014-01-24    1415.0        5.0
                           N658AW   2014-01-05    1432.0       22.0
                           N661AW   2014-01-01    1414.0        4.0
                           N668AW   2014-01-31    1418.0        8.0
                           N673AW   2014-01-09    1411.0        1.0
                           N806AW   2014-01-26    1406.0       -4.0
                           N830AW   2014-01-28    1401.0       -9.0
                           N833AW   2014-01-10    1500.0       50.0
                           N837AW   2014-01-19    1408.0       -2.0
                           N839AW   2014-01-14    1406.0       -4.0

[5205 rows x 2 columns]

In [56]:
#pd.IndexSlice
hdf.loc[pd.IndexSlice[:,['ORD','DSM']],['dep_time','dep_delay']]

                                                dep_time  dep_delay
unique_carrier origin dest tail_num fl_date
AA             DSM    DFW  N200AA   2014-01-12     603.0       -7.0
                                    2014-01-17     751.0      101.0
                           N424AA   2014-01-10    1759.0       -1.0
                                    2014-01-15    1818.0       18.0
                           N426AA   2014-01-07    1835.0       35.0
                                    2014-01-16     615.0        5.0
                           N437AA   2014-01-24     650.0       40.0
                                    2014-01-31     620.0       10.0
                           N438AA   2014-01-17    1810.0       10.0
                           N439AA   2014-01-06     637.0       27.0
                           N472AA   2014-01-26    1800.0        0.0
                           N475AA   2014-01-02    1850.0       50.0
                           N476AA   2014-01-20    1754.0       -6.0
                           N480AA   2014-01-19     617.0        7.0
                           N484AA   2014-01-10     601.0       -9.0
                           N487AA   2014-01-02     620.0       10.0
                           N493AA   2014-01-03     615.0        5.0
                                    2014-01-14     559.0      -11.0
                           N4WKAA   2014-01-14    1748.0      -12.0
                           N4WSAA   2014-01-15     611.0        1.0
                                    2014-01-29    1816.0       16.0
                           N4WTAA   2014-01-08     608.0       -2.0
                           N4XCAA   2014-01-30     607.0       -3.0
                           N4XDAA   2014-01-26     602.0       -8.0
                           N4XGAA   2014-01-03    1810.0       10.0
                                    2014-01-06    1851.0       51.0
                           N4XLAA   2014-01-16    2045.0      165.0
                                    2014-01-28    1759.0       -1.0
                           N4XMAA   2014-01-23     619.0        9.0
                           N4XWAA   2014-01-05    1759.0       -1.0
...                                                  ...        ...
WN             DSM    MDW  N486WN   2014-01-21    1801.0       16.0
                           N709SW   2014-01-24     658.0       -2.0
                           N712SW   2014-01-05     643.0       -2.0
                                    2014-01-18     818.0        8.0
                           N718SW   2014-01-25    1619.0       -1.0
                           N726SW   2014-01-13     655.0       -5.0
                           N752SW   2014-01-28       NaN        NaN
                           N769SW   2014-01-21     656.0       -4.0
                           N771SA   2014-01-25     808.0       -2.0
                           N7730A   2014-01-16    1851.0       66.0
                           N7738A   2014-01-29    1744.0       -1.0
                           N7739A   2014-01-09     659.0       -6.0
                           N7812G   2014-01-11    1725.0       65.0
                                    2014-01-22    1740.0       -5.0
                           N781WN   2014-01-27       NaN        NaN
                           N782SA   2014-01-24    1741.0       -4.0
                           N788SA   2014-01-15    1741.0       -4.0
                           N793SA   2014-01-12    1740.0       -5.0
                           N8608N   2014-01-12    1130.0        5.0
                           N903WN   2014-01-08     702.0       -3.0
                                    2014-01-23    1838.0       53.0
                           N915WN   2014-01-08    1802.0       17.0
                           N922WN   2014-01-10     704.0       -1.0
                           N934WN   2014-01-01    1906.0       81.0
                           N939WN   2014-01-20     701.0        1.0
                           N941WN   2014-01-17    1759.0       14.0
                           N943WN   2014-01-10    2229.0      284.0
                           N963WN   2014-01-22     656.0       -4.0
                           N967WN   2014-01-30     654.0       -6.0
                           N969WN   2014-01-19    1747.0        2.0

[22380 rows x 2 columns]

In [57]:
#similarly for third and fourth index
hdf.loc[pd.IndexSlice[:, 'ORD', 'DSM', :, '2014-01-01':'2014-01-15'],
        ['dep_time', 'dep_delay', 'arr_time', 'arr_delay']]

                                                dep_time  dep_delay  arr_time  \
unique_carrier origin dest tail_num fl_date
EV             ORD    DSM  NaN      2014-01-07       NaN        NaN       NaN
                           N11121   2014-01-05       NaN        NaN       NaN
                           N11181   2014-01-12    1514.0        6.0    1625.0
                           N11536   2014-01-10    1723.0        4.0    1853.0
                           N11539   2014-01-01    1127.0      127.0    1304.0
                           N12145   2014-01-15    1514.0       -3.0    1626.0
                           N12157   2014-01-06       NaN        NaN       NaN
                           N12175   2014-01-07       NaN        NaN       NaN
                           N12552   2014-01-05       NaN        NaN       NaN
                           N12564   2014-01-02       NaN        NaN       NaN
                           N13124   2014-01-02       NaN        NaN       NaN
                           N13202   2014-01-03    1018.0       58.0    1123.0
                           N13553   2014-01-07       NaN        NaN       NaN
                           N13566   2014-01-11     931.0        0.0    1041.0
                           N13903   2014-01-04    1214.0       14.0    1327.0
                           N13989   2014-01-07       NaN        NaN       NaN
                           N13995   2014-01-01    1227.0       27.0    1419.0
                           N13997   2014-01-14    1208.0        8.0    1332.0
                           N14117   2014-01-04       NaN        NaN       NaN
                                    2014-01-13    1512.0        4.0    1621.0
                           N14158   2014-01-10    1545.0       37.0    1705.0
                           N14198   2014-01-13    1954.0      155.0    2059.0
                           N14203   2014-01-14    1552.0       44.0    1709.0
                           N14568   2014-01-09    1820.0       61.0    1938.0
                           N14902   2014-01-08       NaN        NaN       NaN
                           N14907   2014-01-14    1945.0      146.0    2050.0
                                    2014-01-15    1421.0      131.0    1527.0
                           N14974   2014-01-14     930.0       -1.0    1058.0
                           N15912   2014-01-04    1027.0       67.0    1135.0
                           N16147   2014-01-06       NaN        NaN       NaN
...                                                  ...        ...       ...
MQ             ORD    DSM  N8EGMQ   2014-01-09    1153.0       28.0    1300.0
                                    2014-01-10     853.0       -2.0    1026.0
                                    2014-01-11    1342.0       -3.0    1450.0
                                    2014-01-15     850.0       -5.0     959.0
                                    2014-01-15    1343.0       -2.0    1444.0
                           N9EAMQ   2014-01-12    1442.0       57.0    1550.0
OO             ORD    DSM  N495CA   2014-01-06       NaN        NaN       NaN
                           N593ML   2014-01-15     716.0       14.0     825.0
                           N909SW   2014-01-09     657.0       -5.0     818.0
                                    2014-01-10       NaN        NaN       NaN
                           N926SW   2014-01-03     801.0       20.0     914.0
                           N934SW   2014-01-05       NaN        NaN       NaN
                           N952SW   2014-01-15     942.0       11.0    1059.0
                           N954SW   2014-01-11    1522.0       18.0    1636.0
                           N957SW   2014-01-04    1107.0      206.0    1219.0
                           N963SW   2014-01-02       NaN        NaN       NaN
                           N970SW   2014-01-01     748.0       12.0     928.0
                                    2014-01-08    1000.0       29.0    1113.0
                           N971SW   2014-01-13     703.0        1.0     817.0
                           N983SW   2014-01-14     657.0       -5.0     810.0
                           N984CA   2014-01-08     722.0       20.0     830.0
UA             ORD    DSM  N12218   2014-01-08    2029.0       14.0    2142.0
                           N12221   2014-01-14    2011.0       -4.0    2126.0
                           N14231   2014-01-10    2027.0       12.0    2146.0
                           N14250   2014-01-12    2152.0       67.0    2311.0
                           N24212   2014-01-09    2023.0        8.0    2158.0
                           N73256   2014-01-15    2019.0        4.0    2127.0
                           N78285   2014-01-07    2020.0        5.0    2136.0
                                    2014-01-13    2014.0       -1.0    2114.0
                           N841UA   2014-01-11    1825.0       20.0    1939.0

                                                arr_delay
unique_carrier origin dest tail_num fl_date
EV             ORD    DSM  NaN      2014-01-07        NaN
                           N11121   2014-01-05        NaN
                           N11181   2014-01-12       -2.0
                           N11536   2014-01-10       19.0
                           N11539   2014-01-01      149.0
                           N12145   2014-01-15      -10.0
                           N12157   2014-01-06        NaN
                           N12175   2014-01-07        NaN
                           N12552   2014-01-05        NaN
                           N12564   2014-01-02        NaN
                           N13124   2014-01-02        NaN
                           N13202   2014-01-03       48.0
                           N13553   2014-01-07        NaN
                           N13566   2014-01-11       -5.0
                           N13903   2014-01-04        9.0
                           N13989   2014-01-07        NaN
                           N13995   2014-01-01       61.0
                           N13997   2014-01-14       17.0
                           N14117   2014-01-04        NaN
                                    2014-01-13       -6.0
                           N14158   2014-01-10       38.0
                           N14198   2014-01-13      145.0
                           N14203   2014-01-14       42.0
                           N14568   2014-01-09       64.0
                           N14902   2014-01-08        NaN
                           N14907   2014-01-14      136.0
                                    2014-01-15      122.0
                           N14974   2014-01-14       12.0
                           N15912   2014-01-04       60.0
                           N16147   2014-01-06        NaN
...                                                   ...
MQ             ORD    DSM  N8EGMQ   2014-01-09       25.0
                                    2014-01-10       21.0
                                    2014-01-11       -5.0
                                    2014-01-15       -6.0
                                    2014-01-15      -11.0
                           N9EAMQ   2014-01-12       55.0
OO             ORD    DSM  N495CA   2014-01-06        NaN
                           N593ML   2014-01-15        4.0
                           N909SW   2014-01-09       -3.0
                                    2014-01-10        NaN
                           N926SW   2014-01-03       15.0
                           N934SW   2014-01-05        NaN
                           N952SW   2014-01-15       13.0
                           N954SW   2014-01-11       13.0
                           N957SW   2014-01-04      200.0
                           N963SW   2014-01-02        NaN
                           N970SW   2014-01-01       34.0
                                    2014-01-08       27.0
                           N971SW   2014-01-13       -4.0
                           N983SW   2014-01-14      -11.0
                           N984CA   2014-01-08        9.0
UA             ORD    DSM  N12218   2014-01-08       18.0
                           N12221   2014-01-14        2.0
                           N14231   2014-01-10       22.0
                           N14250   2014-01-12       77.0
                           N24212   2014-01-09       34.0
                           N73256   2014-01-15        3.0
                           N78285   2014-01-07       12.0
                                    2014-01-13      -10.0
                           N841UA   2014-01-11       19.0

[153 rows x 4 columns]